
body{
    background-color: #292964;
opacity: 0.8;
background: linear-gradient(135deg, #f7454555 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #f74545 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #f7454555 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #f74545 25%, #292964 25%) 0px 0/ 20px 20px;
}
p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}
label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
.formulario{
    align-items: center;
    width: 50%;
    border-radius: 10px;
    margin-top: 110%;
    margin-left: 50%;
    width: 50%; /* Ancho del contenedor, puedes ajustarlo según tus necesidades */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno para el contenido */
    border: 1px solid #0c20da; /* Borde alrededor del contenedor */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para el contenedor */
    background-color: #ffffff; /* Color de fondo del contenedor */
}

.formulario h1{
    text-align: center;
    padding:  0 0 20px 0;
    border-bottom: 1px solid; 
    text-decoration:color(srgb red green blue) ;
}
